<div class="card">
    <div class="card-body">
        <!-- title -->
                <h4 class="card-title">Vehicules</h4>
                <h5 class="card-subtitle">Informations: </h5>

        <!-- title -->
        <div class="table-responsive">
            <table class="table align-middle">
                <thead>
                    <tr>
                        <th class="text-dark font-medium fs-4">Marque</th>
                        <th class="text-dark font-medium fs-4">Matricule</th>
<!--                     <th class="text-dark font-medium fs-4">Status</th>-->
                        <th class="text-dark font-medium fs-4">Model</th>
                        <th class="text-dark font-medium fs-4">Puissance Fiscale</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let v of vehicules'>
                        <td>
                            <div class="d-flex align-items-center">
                                <div class="ms-3">
                                    <!-- <h5 class="mb-0 font-medium">{{v.id}}</h5> -->
                                    <span>{{v.marque}}</span>
                                </div>
                            </div>
                        </td>
                        <td class="fs-4">{{v.matrecule}}</td>
                        <td>
                            <h5 class="mb-0 fw-normal">{{v.model}}</h5>
                        </td>
                        <td>
                            <h5 class="mb-0 fw-normal">{{v.fiscalePuissance}}</h5>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
